@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button-border-animation {
  border-bottom:  4px solid transparent; 
  transition: border-color 0.3s ease;
}

.button-border-animation:hover {
  border-color: black; /* Change the border color on hover */
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Afstand tussen de foto's */
  width: 100%;
}

.photo-container {
  position: relative;
  flex: 1 1 auto; /* Laat de containers automatisch hun breedte aanpassen */
  margin-bottom: 10px;
}

/* Specifieke breedtes voor verschillende containers */
.photo-container:nth-child(1){
  flex: 1 1 30%; /* 30% breedte voor de eerste foto */
}

.photo-container:nth-child(2) {
  flex: 1 1 30%; /* 25% breedte voor de tweede foto */
}

.photo-container:nth-child(3) {
  flex: 1 1 20%; /* 20% breedte voor de derde foto */
}

.photo-container:nth-child(4) {
  flex: 1 1 15%; /* 35% breedte voor de vierde foto */
}

.photo-container:nth-child(5) {
  flex: 1 1 30%; /* 30% breedte voor de eerste foto */
}

.photo-container:nth-child(6) {
  flex: 1 1 10%; /* 25% breedte voor de tweede foto */
}

.photo-container:nth-child(7) {
  flex: 1 1 20%; /* 20% breedte voor de derde foto */
}

.photo-container:nth-child(8) {
  flex: 1 1 30%; /* 35% breedte voor de vierde foto */
}


/* Specifieke breedtes voor verschillende containers */
 .photo-container:nth-child(9) {
  flex: 1 1 30%; /* 30% breedte voor de eerste foto */
}

.photo-container:nth-child(10){
  flex: 1 1 30%; /* 25% breedte voor de tweede foto */
}

 .photo-container:nth-child(11){
  flex: 1 1 20%; /* 20% breedte voor de derde foto */
}

 .photo-container:nth-child(12){
  flex: 1 1 15%; /* 35% breedte voor de vierde foto */
}

 .photo-container:nth-child(13){
  flex: 1 1 30%; /* 30% breedte voor de eerste foto */
}

 .photo-container:nth-child(14){
  flex: 1 1 10%; /* 25% breedte voor de tweede foto */
}

 .photo-container:nth-child(15){
  flex: 1 1 20%; /* 20% breedte voor de derde foto */
}

.photo-container:nth-child(16){
  flex: 1 1 30%; /* 35% breedte voor de vierde foto */
}

/* Enzovoort voor andere afbeeldingen indien nodig */

.photo-img {
  width: 100%;
  height: 400px; /* Gefixeerde hoogte voor alle afbeeldingen */
  object-fit: cover; /* Zorgt ervoor dat de afbeelding de container vult zonder vervorming */
  transition: filter 0.3s ease;
}
.overlay {
  position: absolute;
  top: 0; /* Begin vanaf de bovenkant */
  left: 0; /* Begin vanaf de linkerkant */
  right: 0; /* Strek naar de rechterkant */
  bottom: 0; /* Strek naar de onderkant */
  background: rgba(0, 0, 0, 0.3); /* Donkere overlay */
  color: white;
  text-align: center;
  display: flex; /* Flexbox gebruiken voor centering */
  align-items: end; /* Verticaal centreren */
  justify-content: center; /* Horizontaal centreren */
  opacity: 0; /* Begin met een verborgen overlay */
  transition: opacity 0.3s ease; /* Overgangseffect voor hover */
  padding-bottom: 15px;
}

.photo-container:hover .overlay {
  opacity: 1; /* Overlay zichtbaar bij hover */
}
